.hero {
    background: #1a1918;
    height: 200px;
    padding-top: 40px;
    
  }
  
  .hero h1 {
    margin: 0;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .hero h2 {
    margin: 0;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
  }